<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Wafer Fault Detection</title>

<link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

<form action="/predict" method="post" enctype="multipart/form-data">

<h1 class="main-title">Wafer Fault Detection</h1>

<div class="frame">

<div class="center">

<div class="title">
<h1>Upload CSV File</h1>
</div>

<label class="dropzone">

<img src="https://cdn-icons-png.flaticon.com/512/724/724933.png" class="upload-icon">

<p class="upload-text">
Drag & Drop CSV File <br> or Click to Upload
</p>

<input type="file" class="upload-input" name="file" accept=".csv"
onchange="showFileName(this)">

</label>

<p id="file-name"></p>

<button type="submit" class="btn">Upload & Predict</button>

</div>

</div>

</form>

<script>
function showFileName(input){
    const fileName = input.files[0].name;
    document.getElementById("file-name").innerText = fileName;
}
</script>

</body>
</html>